<h1 class="text-capitalize text-center"><img src="/images/logo.png"> {{title}} <img src="/images/logo.png"></h1>

<div class="row">
    <div class="col-md-12">
        <h2>Reward Information</h2>
        <table class="table table-bordered table-striped">
            <tr>
                <td><span class="text-light">Total Payout</span></td>
                <td>{{stats.totalPayout}} STH</td>
            </tr>
            <tr>
                <td>Total reward current round</td>
                <td>{{stats.totalRewardAmount}} STH</td>
            </tr>
            <tr>
                <td>Payment period days</td>
                <td>{{stats.paymentPeriod}} days</td>
            </tr>
            <tr>
                <td>Payment Percent</td>
                <td>{{stats.paymentPercent}}%</td>
            </tr>
            <tr>
                <td>Minimum Vote</td>
                <td>{{stats.minVoteWeight}} STH</td>
            </tr>
        </table>
    </div>

    <div class="col-md-12">
        <h2>Active Voters</h2>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th><span class="text-light">address</span></th>
                <th>Weight</th>
                <th>Reward~</th>
                <th>Personal %</th>
            </tr>
            </thead>
            <tbody>
            {{#each voters}}
                <tr>
                    <td>{{address}}</td>
                    <td>{{balance}} STH</td>
                    <td>{{reward}} STH</td>
                    <td>{{personalPercent}}%</td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
